//BreakPoints
$grid-columns: 12 !default;
$breakpoint-mobile: 576px !default;
$breakpoint-tablet: 767.98px !default;
$breakpoint-desktop-sm: 992px !default;
$breakpoint-desktop-md: 1200px !default;
$breakpoint-desktop-lg: 1480px !default;
$breakpoint-mobile: 576px !default;
$breakpoint-desktop-xl: 1780px !default;
